@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  min-height: 100vh;

  overflow: hidden;
  background-image: url(../img/download.jpg);
  background-size: 3840px 2160px;
}

.container {
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
}

.card {
  padding: 3em;
  position: relative;
  border-radius: 10px;
  font-family: "Montserrat";
  background-color: white;
  min-width: 10em;
  min-height: 15em;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  box-shadow: inset 0px -25px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.card h1 {
  margin-top: 5%;
  margin-bottom: 0;
}

.card p {
  margin-top: 0.5em;
}

.photo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px paleturquoise solid;
}

.social {
  margin-top: 2em;
}
.social img {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

footer {
  color: aliceblue;
  font-family: "Montserrat";
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  .card {
    min-width: 5em;
    min-height: 10em;
    padding: 2em;
  }
}

@media (max-width: 550px) {
  .card {
    border-radius: 10px;
    font-size: 17px;
    min-width: 2.5em;
    min-height: 3.5em;
    padding: 1em;
  }
}

@media (max-width: 493px) {
  .card {
    border-radius: 10px;
    font-size: 12px;
    min-width: 1.5em;
    min-height: 2.5em;
    padding: 1em;
  }
}
