/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
    background-color: antiquewhite;
    background: url(img/background.svg);
    z-index: 0;
}

.container {
    position: absolute;
    background-color: transparent;
    width: 350px;
    height: 400px;
    perspective: 1000px;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    top: 25%;
    left: 40%;
}

.social-media{
    position: absolute;
    background-color: white;
    width: 350px;
    height: 70px;
    padding: 0.5em;
    border-radius: 20px;
    top: 102%;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-media img{
    position: relative;
    top: 7%;
    left: 25%;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    margin-left: 1.5em;
}


.content-cards{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s transform 0.2s;
    transform-style: preserve-3d;
}

.container:hover .content-cards {
    transform: rotateY(180deg);
} 

.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px 20px 20px 20px;
    font-family: "Montserrat";
}

.front-card {
    background-color: white;
    color: black;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.back-card {
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    transform: rotateY(180deg);
    text-align: left;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.back-card h2 {
    border-bottom: 1px solid black;
}